<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bueso Bros Flask App</title>
        <meta name="description" content="Speech recognition Flask app"/>
        <meta name="keywords" content="Flask, Speech recognition, Pyton, NLP"/>
        <meta name="author" content="<author>" />
        <meta name="copyright" content="<author>" />
        <meta name="robots" content="index"/>
        <meta name="robots" content="follow"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" href="./static/css/normalize.css"/>
        <link rel="stylesheet" href="./static/css/skeleton.css"/>

    </head>
    <body>
    <div class="container">

            <div style="clear: both">
                &nbsp;

                {% block content%}{% endblock %}

            </div>

        </div>
    </body>
</html>